.item {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    border: #e4e4e4 solid 1.5px;
    border-radius: 2px;
}

textarea {
    height: 100px;
    margin-bottom: 10px;
    border: #c8c8c8 solid 1.5px;
    border-radius: 2px;
}

button {
    width: 20%;
    background-color: #fff;
    border: #eaeaea solid 1.5px;
    border-radius: 5px;
}